.home_img{
    position: relative;
}
.info{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img_txt{
    position: absolute;
    top: 85%;
    right: 10%;
    left: 10%;
    color: rgb(161, 125, 102);   
}
.img_txt h2{
    font-size: 3rem;
    font-weight: 900;
}
.content p{
    font-size: 1.1rem;
    color: #4f4d4d;
    font-weight: 550;
}
.content h1{
    font-weight: 700;
    font-size: 4rem;
}
.content button{
    font-size: 1.2rem;
    width: 30%;
}

@media only screen and (max-width:1024px){

    .info{
        flex-direction: column-reverse;
    }
    .content{
        font-size: 0.8rem;
    }
    .content h1{
        font-size: 3rem;
        text-align: center;
        
    }
    .content button{
        width: 300px;
    }
    .image img{
        width: 90%;
    }
    .feature{
        flex-direction: column-reverse;        
    }
    
}
