.section a{
    text-decoration: none;
    color: rgb(219, 217, 217);
}
.section h5{
    color:antiquewhite;
}
.section ul{
    border-right: 2px solid rgb(173, 173, 173);
}
.copyright{
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.section a:hover{
    text-decoration: underline;
}